.logo {
    width: 120px;
    margin-left: 15px;
}

.slider-arrow {
    color: #fab702;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.about-us__container {
    height: 750px;
}

.about-us__img {
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: contain;
    background-position: center center;
}