.logo {
    width: 120px;
}

.slider-arrow {
    color: #fab702;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.about-us__container {
    height: 750px;
}